
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$taxi-operator-primary: mat.define-palette(mat.$indigo-palette);
$taxi-operator-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$taxi-operator-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$taxi-operator-theme: mat.define-light-theme((
  color: (
    primary: $taxi-operator-primary,
    accent: $taxi-operator-accent,
    warn: $taxi-operator-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($taxi-operator-theme);

/* You can add global styles to this file, and also import other style files */
$primaryColor:#3f51b5;

body{
    margin: 0;
    font-family: sans-serif;
    font-size: 18px;
}

.container{
    width: 80%;
    margin: 0 auto;
}

header{
    background-color: $primaryColor;
    padding: 1em 0;

    a{
        color: white;
        text-decoration: none;
    }

    a.logo{
        font-weight: bold;
    }
    nav{

        float: right;

        ul{
        list-style-type: none;
        margin: 0;
        display: flex;

        li a{
            transition: all 0.5s ease;
            padding: 1em;
            &:hover{
                background: darken($primaryColor,10%);
            }
        }
        }
    }

   
}



.form-container{
    display: block;
    max-width: 300px;
    margin: auto;
    background: #eceff1;
    padding: 48px;
    border-radius: 16px;
}

.form-container mat-form-field{
    width: 100%;
}

.center{
    display: flex;
    justify-content: center;
}

.margin-top{
    margin-top: 16px;
}

.text-center{
    text-align: center;
}


